- @no_container = true
- @hide_top_links = true

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, dashboard_projects_url(rss_url_options), title: "所有活动")

- page_title    "项目"
- header_title  "项目", dashboard_projects_path

= render "projects/last_push"

%div{ class: container_class }
  - if has_projects_or_name?(@projects, params)
    = render 'dashboard/projects_head'
    = render 'projects'
  - else
    = render "zero_authorized_projects"
