.omniauth-container
  %p
    %span.light
      通过 &nbsp;
    - providers = enabled_button_based_providers
    - providers.each do |provider|
      %span.light
        - has_icon = provider_has_icon?(provider)
        = link_to provider_image_tag(provider), omniauth_authorize_path(:user, provider), method: :post, class: 'oauth-login' + (has_icon ? ' oauth-image-link' : ' btn'), id: "oauth-login-#{provider}"
    %fieldset.prepend-top-10
      = check_box_tag :remember_me
      = label_tag :remember_me, 'Remember me'
