- breadcrumb_title "General Settings"
= render "groups/settings_head"
.panel.panel-default.prepend-top-default
  .panel-heading
    群组设置
  .panel-body
    = form_for @group, html: { multipart: true, class: "form-horizontal gl-show-field-errors" }, authenticity_token: true do |f|
      = form_errors(@group)
      = render 'shared/group_form', f: f

      .form-group
        .col-sm-offset-2.col-sm-10
          .avatar-container.s160
            = image_tag group_icon(@group), alt: '', class: 'avatar group-avatar s160'
          %p.light
            - if @group.avatar?
              你可以在这里修改群组图标
            - else
              你可以在这里上传群组图标
          = render 'shared/choose_group_avatar_button', f: f
          - if @group.avatar?
            %hr
            = link_to '删除图标', group_avatar_path(@group.to_param), data: { confirm: "确定要删除群组图标么？"}, method: :delete, class: "btn btn-remove btn-sm remove-avatar"

      = render 'shared/visibility_level', f: f, visibility_level: @group.visibility_level, can_change_visibility_level: can_change_group_visibility_level?(@group), form_model: @group

      .form-group
        .col-sm-offset-2.col-sm-10
          = render 'shared/allow_request_access', form: f

      .form-group
        %label.control-label
          = s_("GroupSettings|Share with group lock")
        .col-sm-10
          .checkbox
            = f.label :share_with_group_lock do
              = f.check_box :share_with_group_lock, disabled: !can_change_share_with_group_lock?(@group)
              %strong
                - group_link = link_to @group.name, group_path(@group)
                = s_("GroupSettings|Prevent sharing a project within %{group} with other groups").html_safe % { group: group_link }
              %br
              %span.descr= share_with_group_lock_help_text(@group)

      = render 'group_admin_settings', f: f

      .form-actions
        = f.submit '保存群组', class: "btn btn-save"

.panel.panel-danger
  .panel-heading 删除群组
  .panel-body
    = form_tag(@group, method: :delete) do
      %p
        删除群组将删除全部子项目和相关资源。
        %br
        %strong 删除群组无法恢复！

      .form-actions
        = button_to '删除群组', '#', class: "btn btn-remove js-confirm-danger", data: { "confirm-danger-message" => remove_group_message(@group) }

= render 'shared/confirm_modal', phrase: @group.path
