- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('group')
- parent = @group.parent
- group_path = root_url
- group_path << parent.full_path + '/' if parent

.form-group
  = f.label :path, class: 'control-label' do
    群组路径
  .col-sm-10
    .input-group.gl-field-error-anchor
      .group-root-path.input-group-addon.has-tooltip{ title: group_path, :'data-placement' => 'bottom' }
        %span>= root_url
        - if parent
          %strong= parent.full_path + '/'
      = f.hidden_field :parent_id
      = f.text_field :path, placeholder: 'open-source', class: 'form-control',
        autofocus: local_assigns[:autofocus] || false, required: true,
        pattern: Gitlab::PathRegex::NAMESPACE_FORMAT_REGEX_JS,
        title: '请选择一个不包含特殊字符的群组名称。',
        "data-bind-in" => "#{'create_chat_team' if Gitlab.config.mattermost.enabled}"

    - if @group.persisted?
      .alert.alert-warning.prepend-top-10
        %ul
          %li 修改群组路径会存在意想不到的副作用。
          %li 重命名群组路径会重命名全部相关项目的路径
          %li 包括改变群组和群组项目的网页访问链接。
          %li 包括改变群组下版本库的 git 路径。

.form-group.group-name-holder
  = f.label :name, class: 'control-label' do
    群组名称
  .col-sm-10
    = f.text_field :name, class: 'form-control',
      required: true,
      title: '您可以选择一个跟路径不同的描述性名称。'

.form-group.group-description-holder
  = f.label :description, '描述', class: 'control-label'
  .col-sm-10
    = f.text_area :description, maxlength: 250,
        class: 'form-control js-gfm-input', rows: 4
