- breadcrumb_title "Jobs"
- @no_container = true
= render "admin/dashboard/head"

%div{ class: container_class }

  .top-area
    - build_path_proc = ->(scope) { admin_jobs_path(scope: scope) }
    = render "shared/builds/tabs", build_path_proc: build_path_proc, all_builds: @all_builds, scope: @scope

    .nav-controls
      - if @all_builds.running_or_pending.any?
        = link_to '全部取消', cancel_all_admin_jobs_path, data: { confirm: '确定要全部取消？' }, class: 'btn btn-danger', method: :post

  .row-content-block.second-block
    - if @scope.nil?
      所有的作业
    - elsif @scope.capitalize == 'Pending'
      正在排队的作业
    - elsif @scope.capitalize == 'Running'
      正在运行的作业
    - elsif @scope.capitalize == 'Finished'
      已结束的作业
    - else
      #{@scope.capitalize} 的作业

  %ul.content-list.builds-content-list.admin-builds-table
    = render "projects/jobs/table", builds: @builds, admin: true
