- @content_class = "limit-container-width limit-container-width-sm" unless fluid_layout
- page_title "Git 访问", "维基"

.wiki-page-header.has-sidebar-toggle
  %button.btn.btn-default.visible-xs.visible-sm.pull-right.sidebar-toggle.js-sidebar-wiki-toggle{ role: "button", type: "button" }
    = icon('angle-double-left')

  .git-access-header
    克隆版本库
    %strong= @project_wiki.full_path

  = render "shared/clone_panel", project: @project_wiki

.wiki-git-access
  %h3 安装 Gollum
  %pre.dark
    :preserve
      gem install gollum
  %p
    It is recommended to install
    %code github-markdown
    so that GFM features render locally:
  %pre.dark
    :preserve
      gem install github-markdown

  %h3 克隆您的维基版本库
  %pre.dark
    :preserve
      git clone #{ content_tag(:span, h(default_url_to_repo(@project_wiki)), class: 'clone')}
      cd #{h @project_wiki.path}

  %h3 运行 Gollum 并在本地编辑
  %pre.dark
    :preserve
      gollum
      == Sinatra/1.3.5 has taken the stage on 4567 for development with backup from Thin
      >> Thin web server (v1.5.0 codename Knife)
      >> Maximum connections set to 1024
      >> Listening on 0.0.0.0:4567, CTRL+C to stop

= render 'sidebar'
