- @no_container = true
- @sort ||= sort_value_recently_updated
- page_title "标签"
- add_to_breadcrumbs("Repository", project_tree_path(@project))
= render "projects/commits/head"

.flex-list{ class: container_class }
  .top-area.adjust
    .nav-text.row-main-content
      标签用于标识重要的历史版本

    .nav-controls.row-fixed-content
      = form_tag(filter_tags_path, method: :get) do
        = search_field_tag :search, params[:search], { placeholder: '按标签名称过滤', id: 'tag-search', class: 'form-control search-text-input input-short', spellcheck: false }

      .dropdown
        %button.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown'} }
          %span.light
            = tags_sort_options_hash[@sort]
          = icon('chevron-down')
        %ul.dropdown-menu.dropdown-menu-align-right.dropdown-menu-selectable
          %li.dropdown-header
            排序
          - tags_sort_options_hash.each do |value, title|
            %li
              = link_to title, filter_tags_path(sort: value), class: ("is-active" if @sort == value)
      - if can?(current_user, :push_code, @project)
        = link_to new_project_tag_path(@project), class: 'btn btn-create new-tag-btn' do
          新建标签

  .tags
    - if @tags.any?
      %ul.flex-list.content-list
        = render partial: 'tag', collection: @tags

      = paginate @tags, theme: 'gitlab'

    - else
      .nothing-here-block
        版本库没有标签。
        %br
        %small
          使用 git tag 命令增加标签：
          %br
          %span.monospace git tag -a v1.4 -m 'version 1.4'
