- breadcrumb_title "Runners"
- @no_container = true
= render "admin/dashboard/head"

%div{ class: container_class }
  .bs-callout
    %p
      一个 'Runner' 就是一个运行作业的进程。
      你可以按照自己的需要设置很多个 Runner。
      %br
      Runners 可以被部署在不同的用户、服务器上，甚至在你本地使用的机器上。
      %br

    %div
      %span 每个 Runner 可以是下列状态之一：
      %ul
        %li
          %span.label.label-success 共享的
          \- Runner 运行全部未指派项目的作业
        %li
          %span.label.label-info 指定的
          \- Runner 运行被指派到该 Runner 的项目的作业
        %li
          %span.label.label-warning 锁定的
          \- Runner 不能被指定到其它项目
        %li
          %span.label.label-danger 暂停的
          \- Runner 将不再接受任何新作业

  .bs-callout.clearfix
    .pull-left
      %p
        You can reset runners registration token by pressing a button below.
      .prepend-top-10
        = button_to _("Reset runners registration token"), reset_runners_token_admin_application_settings_path,
          method: :put, class: 'btn btn-default',
          data: { confirm: _("Are you sure you want to reset registration token?") }

  = render partial: 'ci/runner/how_to_setup_runner',
           locals: { registration_token: current_application_settings.runners_registration_token,
                     type: 'shared' }

  .append-bottom-20.clearfix
    .pull-left
      = form_tag admin_runners_path, id: 'runners-search', class: 'form-inline', method: :get do
        .form-group
          = search_field_tag :search, params[:search], class: 'form-control', placeholder: 'Runner 描述或授权码', spellcheck: false
        = submit_tag '搜索', class: 'btn'

    .pull-right.light
      最后联系时间于一分钟前的 runner 数量：#{@active_runners_cnt}

  %br

  - if @runners.any?
    .table-holder
      %table.table
        %thead
          %tr
            %th 类型
            %th Runner 令牌
            %th 描述
            %th 版本
            %th 项目
            %th 作业
            %th 标签
            %th 最后联系
            %th

        - @runners.each do |runner|
          = render "admin/runners/runner", runner: runner
    = paginate @runners, theme: "gitlab"
  - else
    .nothing-here-block 没有找到 Runner
